// {
//   "plugins": [
//     [
//       "import",
//       {
//         "libraryName": "@ant-design/icons",
//         "libraryDirectory": "", // defaults to 'lib'
//         "camel2DashComponentName": false // defaults to true
//       }
//     ]
//   ]
// }
