.shy-img{
  padding: 10px;
  margin: 5px;
  height: auto;
  border: 1px solid #ccc;
  transition: transform .3s linear;
}

.img-container{
  display: inline;
  position: relative;
}
.img-time{
  position: absolute;
}